.middle{
	width:1200px;
	height:620px;
	display:flex;
	justify-content:center;
	margin:0 auto;
	flex-wrap:wrap;
	align-items:center;
	list-style:none;
}
.middle{
	border-bottom:1px solid white;
}
/*中间第一块*/
li.one{
	display:flex;
	transition:all .5s linear;	
}
li.one:hover{
	background:#424242;
	transform:scale(1.1);
	border:1px solid #000;
}
/*第一块1*/
#first1{
	width:980px;
	height:77px;
}
#first1 div{
	margin-bottom:8px;
	font-size:20px;
}
/*第一块2*/
#first2{
	width:200px;
	height:105px;
	border-left:1px solid #eee;
	text-align:center;
}
#first2 h2{
	margin-bottom:20px;
	font-size:40px;
}
/*中间第二块*/
li.two{
	display:flex;
	transition:all .5s linear;
}
li.two:hover{
	background:#424242;
	transform:scale(1.1);
	border:1px solid #000;
}
/*第二块1*/
#second1{
	width:980px;
	height:77px;
}
#second1 div{
	margin-bottom:8px;
	font-size:20px;
}
/*第二块2*/
#second2{
	width:200px;
	height:105px;
	border-left:1px solid #eee;
	text-align:center;
}
#second2 h2{
	margin-bottom:20px;
	font-size:40px;
}